In [1]:
import os
os.environ["KMP_DUPLICATE_LIB_OK"] = "TRUE"

In [3]:
import pandas as pd

In [7]:
import numpy as np
import pandas as pd
from scipy.optimize import minimize

In [6]:
data = pd.read_csv('data.csv',header=None)
data

            0           1
0    9.481538  394.853787
1    6.878546  238.295702
2    9.436524  393.053669
3    3.572694   55.666155
4    1.079596   13.537515
..        ...         ...
995  8.714093  366.701156
996  3.783151   60.254649
997  9.104563  380.503300
998  1.717459   32.758233
999  7.288236  277.359814

[1000 rows x 2 columns]

In [8]:
x_data = data[0].values  # Первое значение в каждой строке
f_data = data[1].values  # Второе значение в каждой строке

In [11]:
# Определение функции ошибки
def error_function(params):
    a, b, c = params
    # Предсказанное значение функции f(x)
    predicted_f = ((a * np.sin(x_data) + b * np.log(x_data)) ** 2 + c * x_data ** 2)
    # Сумма квадратов ошибок
    error = np.sum((predicted_f - f_data) ** 2)
    return error

In [12]:

# Начальное приближение для параметров a, b, c
initial_guess = [1.0, 1.0, 1.0]

# Ограничения: a, b, c > 0
bounds = [(0, None), (0, None), (0, None)]

# Минимизация функции ошибки
result = minimize(error_function, initial_guess, bounds=bounds, method='L-BFGS-B')

# Получение оптимальных значений a, b, c
a_opt, b_opt, c_opt = result.x

# Вывод результатов с точностью до двух знаков после запятой
print(f"{a_opt:.2f} {b_opt:.2f} {c_opt:.2f}")

3.14 2.72 4.00